.container {
	display: flex;
	padding: 1rem;
	.details {
		text-align: end;
		margin: 0 1rem;
		line-height: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 0.35rem;
		.name {
			font-size: 0.9rem;
		}
		.role {
			font-size: 0.8rem;
			color: rgb(133, 133, 133);
		}
	}
	.avatar {
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		display: flex;

		background-color: rgb(66, 66, 163);
		color: white;
		font-weight: bold;
		span {
		}
	}
}
