<div class="card rounded-lg shadow-md hover:shadow-xl transition-shadow">
	<div class="section">
		<div class="avatar"></div>
		<div class="details">
			<div class="name">{{patientData.name}}</div>
			<div class="age">age : {{patientData.age}}</div>
			<div class="sex">sex : {{patientData.sex}}</div>
			<div class="phone">phone : {{patientData.phone}}</div>
		</div>
	</div>
	<div class="section">
		<div class="address">
			<div class="label">Address :</div>
			<div class="value">{{patientData.address}}</div>
		</div>
	</div>
</div>
